.contacts
    a.contact(href="tel:+380639999999")
        i.fa.fa-mobile.contact__icon
        span.contact__text 6337 3128

    a.contact(href="mailto: info@buisness.com")
        i.fa.fa-envelope.contact__icon.contact__icon--email
        span.contact__text info@buisness.com
        
    a.facebook-icon(href="facebook.com")
        i.fa.fa-facebook