.nav {
    display: inline-block;
    vertical-align: top;
    padding-top: 7px;
    margin-right: 15px;

    &__link {
        vertical-align: top;
        display: inline-block;
        padding: 10px;
        flex-flow: $ff-main-bold;
        text-decoration: none;
        text-transform: capitalize;
        color: #424242;
        transition: 0.3s;


        &:hover, &--active {
            color: #de2624;
        }

        &::after {
            content: '';
            display: inline-block;
            vertical-align: middle;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: #424242;
            margin-left: 15px;
        }

        &:last-child::after {
            display: none;
        }
    }
}